<header>
    <!--logo a nadpis-->
    <div class="logo"></div>
    <!--Meno hrdinu-->
<p>John Cena</p>
</header>
<main>
<div class="main-content-password"></div>
<h6>Great, now your<br/>
password, please.</h6>
<form [formGroup]="passwordLogin" (ngSubmit)="loginPassword()">
    <input formControlName="password" type="password" placeholder="Make it strong!" /> <br />
    <input formControlName="confirmPassword" type="password" placeholder="And once again..." /><br>
    <button type="submit" class="second__button">
    <span class="button__text main__button">Continue</span>
    </button>
</form>
</main>
<footer>
</footer>

