<div class="profile-form">

    <form class="user-form">
        <div class="user-profile">
            <div class="logo"></div>
            <div class="avatar"></div>
        </div>
        <p>Edit your profile</p>
        <div>
            <button (click)="goTo('introduction')">Go to Introduction</button>
        </div>
        <div class="user-info">
            <small>Name</small><br>
            <span>{{user?.name}} {{user?.surname}}</span>
            <button class="edit-btn">Edit</button>
        </div>
        <div class="user-info">
            <small>Username</small><br>
            <span>{{user?.displayName}}</span>
            <button class="edit-btn">Edit</button>
        </div>
        <div class="user-info">
            <small>Address</small><br>
            <span> {{addres?.streetName}} {{addres?.streetNumber}} </span>
            <button class="edit-btn">Edit</button>
            <button class="dlt-btn">Delete</button>
        </div>
        <div class="user-info">
            <small>City</small><br>
            <span>{{addres?.suburb}}</span>
            <button class="edit-btn">Edit</button>
            <button  class="dlt-btn">Delete</button>
        </div>
        <div class="user-info">
            <small>Postal Code</small><br>
            <span>{{addres?.postalCode}}</span>
            <button class="edit-btn">Edit</button>
            <button (click)="addres?.postalCode !== addres?.postalCode" class="dlt-btn">Delete</button>
        </div>
        <div class="user-info">
            <small>E-mail</small><br>
            <span>{{contact?.email}}</span>
            <button class="edit-btn">Edit</button>
            <button class="dlt-btn">Delete</button>
        </div>
        <div class="user-info">
            <small>Phone</small><br>
            <span>{{contact?.phoneNumber}}</span>
            <button class="edit-btn">Edit</button>
            <button class="dlt-btn">Delete</button>
        </div>
        <div class="user-info">
            <small>Social Media</small><br>
            <span>{{socialNetwork?.id}}</span>
            <button class="edit-btn">Edit</button>
            <button class="dlt-btn">Delete</button>
        </div>
        <div class="user-info">
            <a [href]="socialNetwork?.url" class="socials"></a>
        </div>
    </form>
    <footer>
        <button class="second__button logout-btn" (click)="logout()" routerLink="../username">
            Logout
        </button>
    </footer>
</div>
